<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/index.css" rel="stylesheet" />
    </head>
    <body>
        <h1 id="title">Poor Man's Wordle</h1>
        <br>
        <div id="board">
            <script src="js/wordle.js"></script>
        </div>
        <br>
        <h1 id="answer"></h1>
        
    </body>
</html>

